.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  margin-top: 115px;
}

#App-header-image {
  width: 272px;
  height: 92px;
}


.App-footer {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 0;
  width: 40%;
  justify-content: center;
}

.footer-figure {
  width: 10%;
}

.App-footer-img {
  /* width: 100%;
  height: 100%; */
}

.App-link {
  color: #61dafb;
}

#search-text {
  width: 674px;
  border: none;
  background-color: #f4f4f4;
  height: 39px;
  border-radius: 21px;
  padding-left: 20px;
  font-size: 14px;
}

#search-text::focus {
  border: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1024px) {
  .App-footer {
    width: 100%
  }

  #search-text {
    max-width: 320px;
  }
}
